<div class="topbar">

    <h1>Dashboard</h1>

    <button
        class="logout"
        (click)="logout()">

        Cerrar sesión

    </button>

</div>

<div class="stats">
    <p>Total: {{ total }}</p>
    <p>Confirmados: {{ confirmados }}</p>
    <p>Pendientes: {{ pendientes }}</p>
    <p>Rechazados: {{ rechazados }}</p>
</div>

<div class="filtros">

    <input
        [(ngModel)]="busqueda"
        placeholder="Buscar invitado">

    <select [(ngModel)]="filtro">

        <option value="">Todos</option>
        <option value="pendiente">Pendientes</option>
        <option value="confirmado">Confirmados</option>
        <option value="rechazado">Rechazados</option>

    </select>

</div>

<div class="formulario">

    <h2>
        {{ editando
            ? 'Editar invitado'
            : 'Nuevo invitado' }}
    </h2>

    <input
        [(ngModel)]="nuevo.nombre"
        placeholder="Nombre">

    <input
        [(ngModel)]="nuevo.ciudad"
        placeholder="Ciudad">

    <input
        type="number"
        [(ngModel)]="nuevo.cant_personas"
        placeholder="Cantidad">

    <textarea
        [(ngModel)]="nuevo.detalle"
        placeholder="Observaciones">
    </textarea>

    <button
        class="guardar"
        (click)="guardar()">

        {{ editando
            ? 'Guardar cambios'
            : 'Crear invitado' }}

    </button>

</div>
<div class="table-container">
<table>

    <thead>

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Lugares</th>
            <th>Link</th>
            <th>Acciones</th>
        </tr>

    </thead>

    <tbody>
        
      @for(
        invitado of invitados
          .filter(
            x =>
              (!filtro ||
              x.estado === filtro)
              &&
              x.nombre
                .toLowerCase()
                .includes(
                  busqueda.toLowerCase()
                )
          );
        track invitado.id_invitado
      ){
            <tr>

                <td>
                    {{ invitado.id_invitado }}
                </td>

                <td>
                    {{ invitado.nombre }}
                </td>

                <td>
                    {{ invitado.estado }}
                </td>

                <td>
                    {{ invitado.cant_personas }}
                </td>

                <td class="acciones-link">

    <a
        target="_blank"
        [href]="
        baseUrl + 
        '/invitacion/'
        + invitado.codigo">

        <span class="desktop">
            Abrir
        </span>

        <span class="mobile">
            👁️
        </span>

    </a>

    <button
        class="copiar"
        (click)="copiar(
            invitado.codigo
        )">

        <span class="desktop">
            Copiar
        </span>

        <span class="mobile">
            🔗
        </span>
    </button>

</td>
                <td>

                  <button
                      class="editar"
                      (click)="editar(invitado)">

                       <span class="desktop">
                            Editar
                        </span>

                        <span class="mobile">
                            ✏️
                        </span>

                  </button>

                  <button
                      class="eliminar"
                      (click)="eliminar(
                          invitado.id_invitado
                      )">

                       <span class="desktop">
                            Eliminar
                        </span>

                        <span class="mobile">
                            ❌
                        </span>

                  </button>

              </td>
            </tr>

        }

    </tbody>

</table>
</div>
